@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030614;
  --foreground: #f8fafc;
}

.dark {
  --background: #030614;
  --foreground: #f8fafc;
}

.light {
  --background: #f8fafc;
  --foreground: #0f172a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #030614;
}
